@font-face {

    font-family: "Montserrat"; 
    
    src: url("../fonts/Montserrat.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
    @font-face {

        font-family: "MontserratMedium"; 
        
        src: url("../fonts/MontserratMedium.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: normal; 
        } 
