
.heading {
    position: absolute;
    width: 774px;
    height: 29px;
    left: 253px;
    top: 916px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    
    color: #373737;
    
}

.paragraph1 {
    position: absolute;
width: 1145px;
height: 132px;
left: 67.5px;
top: 983px;

font-family: MontserratMedium;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;


text-align: center;
letter-spacing: 2.4px;

color: #373737;
}
.paragraph2 {
    position: absolute;
width: 1145px;
height: 216px;
left: 67.5px;
top: 1143px;

font-family: MontserratMedium;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;


text-align: center;
letter-spacing: 2.4px;

color: #373737;
}

.button {
    position: absolute;
width: 191px;
height: 51px;
left: 544.5px;
top: 1425px;

background: #FF0000;
border-radius: 4px;
}
.inside_button {
    position: absolute;
width: 105px;
height: 16px;
left: 587px;
top: 1443px;

font-family: MontserratMedium;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 12px;
/* or 100% */

display: flex;
align-items: center;
letter-spacing: 1.8px;
text-transform: uppercase;

color: #FFFFFF;

}

input {outline:none; border: none;}