.foot {
    position: absolute;
width: 700px;
height: 39px;
left: 608px;
top: 1558px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
letter-spacing: 2.4px;

color: #373737;
}
