
* {
    margin: 0;
    padding: 0;
}

A:link { 
    text-decoration: none; 
   } 
   
.menu {
list-style-type: none;
margin: 0;
padding: 0;
position: absolute;
width: 620px;
height: 15px;
left: 330px;
top: 31.5px;
}
.menu li {
    display: inline;
  }
ul {   
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 18px;
display: flex;
align-items: center;
letter-spacing: 2.7px;
text-transform: uppercase;
color: #FF0000;
}

.navbar1 {
    position: absolute;
width: 68px;
height: 27px;
left: 0px;
top: -6px;
}

.navbar2 {
    position: absolute;
width: 131px;
height: 27px;
left: 140px;
top: -6px;
}

.navbar3 {
    position: absolute;
width: 87px;
height: 27px;
left: 343px;
top: -6px;

}

.navbar4 {
    position: absolute;
    width: 140px;
    height: 27px;
    left: 480px;
    top: -6px;
    
}

.background {
    position: absolute;
width: 1280px;
height: 789px;
left: 0px;
top: 78px;
}
